.container {
    background: lightgrey;
    width: max-content;
    margin: auto;
}

.display {
    width: 100%;
    background: darkgrey;
    height: 50px;
    font-size: 48px;
    display: flex;
    justify-content: flex-end;
}

.buttons {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
}

button {
    flex: 1 25%;
    padding: 15px;
    font-size: 26px;
}

.btn-operator {
    background: yellow;
}

.btn-clear {
    background: crimson;
}

.btn-number {
    background: grey;
}

.btn-equal {
    background: green;
}
